@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Archivo+Black&family=Baumans&family=Chewy&family=Darker+Grotesque:wght@300..900&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fuzzy+Bubbles:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Maven+Pro:wght@400..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,399;1,399&display=swap');

* {
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

body div#root>div {
    min-height: 100svh;
    background-color: #f6f6f6;
}

.ant-modal-mask,
.ant-drawer-mask {
    backdrop-filter: blur(4px);
}

.ant-radio-button-wrapper:first-child {
    border-start-start-radius: 0px;
    border-end-start-radius: 0px;
}

.ant-radio-button-wrapper:last-child {
    border-end-end-radius: 0px;
    border-start-end-radius: 0px;
}

.fc-day-today {
    background-color: #e6f4ff !important;
}

.ant-btn-icon {
    display: flex;
    align-items: center;
}


/* in Steps component the bubble number aligned */
.ant-steps-icon {
    top: -1.3px !important;
}

.ant-result .ant-result-extra>* {
    margin-inline-end: auto;
}

/* appointments */

.event-confirmed {
    border-left: 4px solid #28a745;
}

.event-pending {
    border-left: 4px solid #ffc107;
}

.event-cancelled {
    border-left: 4px solid #dc3545;
}